[submodule "third_party/libDaisy"]
	path = third_party/libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "third_party/DaisySP"]
	path = third_party/DaisySP
	url = https://github.com/electro-smith/DaisySP
